/*
 Dark Blue: #023F78
 Light Blue: #9DB0B7
 Yellow: #FDDF35

 Pozadie card: rgba(217, 217, 217, 0.6)

 */

*, body {
    margin: 0;
    padding: 0;
    overflow: hiddern;
}

.animus-bg-dark-blue {
    background-color: #572e3c;
}

.animus-bg-light-blue {
    background-color: #7b391d;
}

.animus-text-yellow {
    color: #6895c2;
}

.animus-logo {
    width: 24vh;
    height: auto;
}

.animus-card {
    background-color: rgba(217, 217, 217, 0.6);
    height: 100%;
    border-radius: 15px;
    borderr: 3px solid #6895c2;
}

.header h2 {
    color: #572e3c;
    font-weight: boldd;
}

.header h6 {
    color: #6c757d;
    font-weight: normal;
}

.main p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
